$primary: #55ffbb;
$darker: #050505;
$dark: #121212;
$light: #ffffff;
$lightGrey: #efefef;
$grey: #ebebeb;
$darkGrey: #e6e6e6;
$darkerGrey: #cccccc;

$mobile: 480px;
$tablet: 768px;
$small: 1024px;
$medium: 1200px;
$large: 1600px;
