@font-face {
  font-family: 'CircularStd';
  src: url('fonts/CircularStd-Normal.eot'); /* IE9 Compat Modes */
  src: url('fonts/CircularStd-Normal.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/CircularStd-Normal.woff') format('woff'),
    /* Pretty Modern Browsers */ url('fonts/CircularStd-Normal.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/CircularStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/CircularStd-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/CircularStd-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */ url('fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: 'CircularStd';
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: unset;
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: bold;
}
