@import '@fontsource/fira-mono';

/* FIXING FONT SIZE TODO  */
/* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
:root {
	--font-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-header: 'Crimson Pro Medium', 'Century';
	--font-mono: 'Fira Mono', monospace;
	--font-xs: 0.8rem;
	--font-sm: 1rem;
	--font-m: 1.4rem;
	--font-l: 1.8rem;
	--font-xl: 2.4rem;
	--font-xxl: 3rem;
	--font-xxxl: 4rem;
	--primary-color: #efede9;
	/* --secondary-color: #d0dde9; */
	/* --tertiary-color: #edf0f8; */
	--accent-color: #ff3e00;
	--secondary-color: rgb(255, 233, 223);
	/* --heading-color: rgba(0, 0, 0, 0.7); */
	--text-color: #0e0607;
	/* --background-without-opacity: rgba(255, 255, 255, 0.7); */
	/* --column-width: 42rem; */
	/* --column-margin-top: 4rem; */
}

h1,
h2,
h3 {
	font-weight: 700;
	font-family: var(--font-header);
}
h1 {
	font-size: var(font-xxl);
}
h2 {
	font-size: var(font-xl);
}
h3 {
	font-size: var(font-l);
}

body {
	font-family: var(--font-text);
	margin: 0;
	padding: 0 3vw 0 3vw;
	background-color: var(--primary-color);
	color: var(--text-color);
	font-size: var(--font-m);
}
@media (min-width: 1024px) {
	body {
		font-size: 1.1vw;
	}
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
