@import '@fontsource/fira-mono';

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-mono: 'Fira Mono', monospace;
	--font-xs: 0.8rem;
	--font-sm: 1rem;
	--font-m: 1.4rem;
	--font-l: 1.8rem;
	--font-xl: 2.4rem;
	--font-xxl: 2.8rem;
	--font-xxxl: 3.5rem;
	--primary-color: #efede9;
	/* --secondary-color: #d0dde9; */
	/* --tertiary-color: #edf0f8; */
	--accent-color: #ff3e00;
	--secondary-color: rgb(255, 233, 223);
	/* --heading-color: rgba(0, 0, 0, 0.7); */
	--text-color: #0e0607;
	/* --background-without-opacity: rgba(255, 255, 255, 0.7); */
	/* --column-width: 42rem; */
	/* --column-margin-top: 4rem; */
}

h1,
h2,
h3 {
	font-weight: 700;
	font-family: 'Georgia';
}
h1 {
	font-size: var(font-xxl);
}
h2 {
	font-size: var(font-xl);
}
h3 {
	font-size: var(font-l);
}

body {
	margin: 0;
	padding: 0 2rem 0 2rem;
	background-color: var(--primary-color);
	color: var(--text-color);
	font-size: var(--font-m);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
